
@model IEnumerable<Preguntas>


<div class="text-center mt-5" style="border:1px solid red">
    <h1 class="display-4">Elige un libro biblico </h1>


</div>

<div>
    @foreach (var item in Model)
    {
        <div>
            <div class="col-md-12" style="display:flex">
                <div class="col-md-6">
                    <div>
                        <form method="post">
                            <div>
                                <button class="btn btn-outline-danger" asp-controller="Partida" asp-action="Modalidad" asp-route-libro="@item.Libro">@item.Libro </button>

                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

