<div class="container">
    <div class="row">
        <div class="modalidad-button">
            <form method="post">
                
                <div>
                    <button class="btn btn-outline-primary mt-2" asp-controller="Partida" asp-action="Modalidad"> General </button>

                </div>
                <div>
                    <button class="btn btn-outline-primary mt-2" asp-controller="Partida" asp-action="Custom"> Custom </button>

                </div>
            </form>

        </div>
    </div>

</div>