<div class="text-center mt-5" style="border:1px solid red">
    <h1 class="display-4">Singler Player </h1>


</div>

<div class="container">
    <div class="row">
        <div class="modalidad-button">
            <form method="post">
                <div>
                    <button class="btn btn-outline-primary mt-2 " asp-controller="Partida" asp-action="Juego"> Facil </button>

                </div>
                <div>
                    <button class="btn btn-outline-primary mt-2" asp-controller="Partida" asp-action="Juego"> Medio </button>

                </div>
                <div>
                    <button class="btn btn-outline-primary mt-2" asp-controller="Partida" asp-action="Juego"> Dificil </button>

                </div>
               
            </form>

        </div>
    </div>

</div>