@model Equipo



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<style>
    .titulo{
        color:white;
        font-size:50px;
    }
    body {
        background-image: url('../IMG/baseball-wallpaper-7.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<div class="text-center mt-5">
    <h1 class="titulo">@ViewBag.title </h1>


</div>
<br />
<div class="section-center">
    <form method="post" autocomplete="off">
        <div class="container">
            <div class="row">
                <div class="col-md-8 container a">
                    <div class="col-md-6 container">
                        
                        @Html.TextBoxFor(x => x.Name, new { autocomplete = "off", placeholder = "Nombre del equipo", @class = "form-control" })

                    </div>
                    <div class="col-md-6 container mt-1">
                        <button type="submit" class="btn btn-danger col-md-12" asp-controller="Partida" asp-action="MultiPlayer" asp-route-equipo="@Model"><h3>Agregar Rival</h3></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
