

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<style>
    .a {
        /*border: 1px solid red;*/
    }

    body {
        background-image: url('../IMG/3B3D1D13-61B4-4665-AC44-56451E66EE54.JPEG');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>



<div class="section-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 container a">
                <div class="col-md-6 container">
                    <form method="post">
                        <button type="submit" class="btn btn-primary col-md-12 pulse_button" asp-controller="Partida" asp-action="MultiPlayer" asp-route-single="True"><h3>1 Player</h3></button>
                    </form>
                </div>
                <div class="col-md-6 container mt-1">
                    <form method="post">
                        <button class=" btn btn-danger col-md-12 pulse_button" asp-controller="Partida" asp-action="MultiPlayer"><h3>MultiPlayer</h3></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
